@import url("https://fonts.googleapis.com/css?family=Lora");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

section {
  padding-top: 7.5em; }

body {
  font-family: "Lora", serif;
  font-size: 16px; }

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #f9f9f9;
  width: 100%;
  position: fixed; }

.nav-links a {
  text-decoration: none;
  font-size: 24px; }

@media screen and (min-width: 320px) and (max-width: 760px) {
  .nav-bar .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .nav-bar .top-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .nav-bar .top-row .hamburger {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .nav-bar .top-row .hamburger .bar {
    background-color: #212121;
    width: 100%;
    height: 5px;
    display: block; }
  .nav-bar .nav-links {
    display: none; }
  .nav-bar.nav-bar-open .nav-links {
    display: block; }
  .nav-bar.nav-bar-open .hamburger {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .nav-bar.nav-bar-open .hamburger .bar:last-child {
    display: none; }
  .nav-bar.nav-bar-open .hamburger .bar:first-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .nav-bar.nav-bar-open .hamburger .bar:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -5px; }
  .nav-bar .nav-links a {
    display: block;
    padding: 10px 0;
    text-align: center; } }

@media screen and (min-width: 768px) {
  .container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .nav-links {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .nav-links.nav-links a {
      margin: 0 20px; } }

.container {
  width: 80%;
  margin: 0 auto; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.logo-size {
  height: 80px;
  width: 80px; }

.hero-image {
  background-image: url("../images/home-smaller.png");
  background-position: left;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px; }
  @media screen and (min-width: 600px) {
    .hero-image {
      height: 530px;
      background-image: url("../images/home.jpg");
      background-size: 100% 100%; } }

@media screen and (min-width: 600px) and (min-width: 1290px) {
  .hero-image {
    background-size: cover; } }

section div .wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.center {
  text-align: center;
  padding-top: 3em;
  font-size: 40px;
  font-weight: normal;
  margin: 0; }

.about-us-text {
  padding: 0 15px; }
  .about-us-text h1 {
    margin: 0;
    font-weight: normal;
    font-size: 24px; }
  .about-us-text h1::first-letter {
    font-size: 48px; }
  .about-us-text h2 {
    font-weight: normal;
    font-size: 24px; }

@media screen and (min-width: 320px) and (max-width: 500px) {
  .about-us-text h1::first-letter {
    font-size: 40px; }
  .about-us-text {
    padding: 0; } }

@media screen and (min-width: 600px) {
  .about-us-text {
    width: 50%; }
  .about-us-img {
    background-image: url("../images/IT-solution.png");
    height: 400px;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center right; } }

@media screen and (max-width: 768px) {
  .about-us-text h2 {
    font-size: 21px; } }

/*# sourceMappingURL=styles.css.map */