$background_color: #f9f9f9;
$header_color: #e1e1e1;
$footer_color: #b3d7e7;
$navbar_color: #f9f9f9;
$tab_color: #0d5e84;
$aboutusText_color: #114b86;
$servicesText_color: #071820;
$contactDetails_color: #f7f7f7;
