/* Colors*/
$background-color: #fff;
$header-color: #e1e1e1;
$default-font-color: #191919;
$body-font-family: 'Roboto', sans-serif;
$body-font-size: 16px;
$body-font-weight: 300;
$body-line-height: 1.5;
$body-padding: 0;
$body-margin: 0;


/* Footer*/
$footer-background-color: #b3d7e7;
//$footbar-font-color: #ababab;
$footbar-font-color: #fff;

/*Navbar*/
$navbar-color: #f9f9f9;
$navbar-a-hover: #00a99d;
$tab-color: #0d5e84;
$aboutus-text-color: #114b86;
$services-text-color: #071820;
$contact-details-color: #f7f7f7;

/**/

/*Header*/
$slogan-font: 'Megrim', cursive;
$slogan-color: #191919;
$slogan-font-size: 3em;
$slogan-font-weight: 400;

/**/

/*main*/
$main-contact-wrapper-a-color: #007c74;
$main-contact-wrapper-a-hover-color: #00a99d;
$main-contact-form-input-bachground-color: #eae8e8;
$main-contact-form-input-font-family: 'Roboto', sans-serif;
$main-focus-color: #191919;
$main-focus-outline-color: #00a99d;
$main-input-submit-background-color: #00a99d;
$main-input-submit-font-color: #fff;
$main-input-submit-cursor: pointer;
$main-input-submit-transition: 0.4s;
$main-submit-hover-background-color: #007c74;
$main-textarea-heigth: 15em;
$main-textarea-resize: none;



/**/

/* Button*/
$beautifulHue: #987123;
